# Core functionality - changes here should be rare!
/src/app.py                   @Giglium
/src/backend/database.py      @Giglium
/src/backend/routers/auth.py  @Giglium

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Giglium
